**/target/
**/.idea/
**/.settings/
**/.project
**/.classpath
**/*.iml
**/*.swo
**/*.swp

**/modules/.settings/
**/.vscode/
**/modules/.vscode/

**/node_modules/
**/.node_modules/

**/.DS_STORE

**/npm-debug.log
**/yarn-error.log


